.Circle{
  width: 200px;
  height: 200px;
  background: goldenrod;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  left: 600px;
  p {
    position: absolute;
    left:30px;
    top: 85px;
    color: #2aabd2;
  }
}
.Circle-outer {
  height: 200px;
}
