.jumbotron {
  overflow:hidden;
  height: 100%;
  position: relative;
  text-align: center;
  align-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  left:0;
  z-index: 1;
  .circle {
    text-align: center;
    background: saddlebrown;
  }
  #jumbotron-image {
    max-width:120%;
    width: 100%;
    max-height:100%;
    height:~'expression(document.body.clientWidth>180?"100%":"auto")';
    overflow:hidden;
  }

  #jumbotron-content {
    color: darkslategray;
    font-weight: 900;
    position: fixed;
    text-align: center;
    top:30%;
    width: 100%;
    font-family:"微软雅黑","黑体","宋体";
    font-size:12px;
  }
}
